#GMap
{
    height: 93%;
    top: 7%;
    bottom: 0%;
}
#BMap
{
    width: 100%;
    height: 93%;
    top: 7%;
    bottom: 0%;
    position: absolute;
}
#Top-Bar
{
    height: 7%;
    top: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
    background-color: darkblue;
}
/* Optional: Makes the sample page fill the window. */
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}